@charset "UTF-8";
@font-face {
    font-family: 'Idroid';
    src: url('arquivos/fontes/idroid.otf');
}

:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
}


/* Geral */
body {
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Cabeçalho */
#cabecalho {
    color: white;
    text-align: center;
    background-image: linear-gradient(var(--cor3), var(--cor5));
}

header {
    padding-top: 40px;
    margin-bottom: 40px;
}

header p {
    margin: 0;
    font-size: 1.2em;
    max-width: 600px;
    display: block;
    margin: auto;
    padding: 0px 10px;
}
header h1 {
    font-family: 'Bebas Neue', serif;
    font-size: 3em;
    padding: 0px 10px;
    font-weight: normal;
}

nav {
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #3ddc8538;
    transition: 0.4s;
}

h1 {
    margin-top: 0;
}


/* Principal */
main {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.229);
}

main img {
    width: 100%;
}

main img.pq {
    max-width: 350px;
    width: 60%;
    display: block;
    margin: auto;
}

article > h1 , h2 {
    font-family: 'Idroid';
    background-image: linear-gradient(to right, var(--cor2) , transparent);
    color: var(--cor5);
    padding: 5px 0px 5px 7px;
    border-radius: 2.5px;
}

#video {
    background-color: #063d1e;
    margin: 0px -15px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h2 {
    font-size: 1.25em;
}

main p {
    text-indent: 30px;
    text-align: justify;
    line-height: 1.45em;
}

#tituloaside h3 {
    margin: 0;
}

#tituloaside {
    color: white;
    background-color: var(--cor4);
    margin-top: 15px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#infoaside p {
    margin: 0;
}

#infoaside {
    background-color: var(--cor1);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 0;
    padding: 15px;
}

aside ul {
    list-style: none;
    columns: 2;
}

aside ul li::before {
    content: '✔ ';
}

/* Footer */

footer {
    text-align: center;
    margin-top: 10px;
    background-color: #1A5C38;
    color: white;
    padding: 12px;
}

footer p {
    margin: 0;
}


/* Links */

a , main strong{
    color:#1A5B37;
    font-weight: bold;
    text-decoration: none;
}

main a::after {
    content: '\1F517';
}


/* Falta:

1-Margem na imagem do bugdroid
2-Vídeo do youtube(background, responsividade...)